
<head>
  <title><%= username %></title>
  <link id="favicon" rel="icon" href="<%= github.avatar_url %>">
  <meta name="description" content="View <%= github.login %>'s profile on GlitchyPastePen!">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=IBM+Plex+Mono&display=swap');
    
    body {
      --fore: black;
      --back: white;
      background-color: var(--back);
      color: black;
      font-family: "Inter", "Helvetica", "Arial", sans-serif;
      margin: 0px;
    }
    
    h1 {
      margin-left: 25px;
      margin-top: 30px;
    }

    header {
      margin-left: 0px;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #DCDCDC;
      left: 0px;
    }
    
    #main {
      margin-left: 15%;
      margin-right: 15%;
    }
    
    .project {
      padding-top: 10px;
      padding-left: 20px;
      padding-bottom: 10px;
      font-family: "Fira Mono", "Inter", "Raleway", sans-serif;
      transition: 1s ease;
      background-color: white;
      border: 1px solid grey;
      border-radius: 5px;
      margin-top: 20px;
      display: block;
      width: 100%;
      left: 0px;
      font-size: 25px;
      overflow: hidden;
      box-shadow:
        0 0px 2.2px rgba(0, 0, 0, 0.02),
        0 0px 5.3px rgba(0, 0, 0, 0.028),
        0 0px 10px rgba(0, 0, 0, 0.035),
        0 0px 17.9px rgba(0, 0, 0, 0.042),
        0 0px 33.4px rgba(0, 0, 0, 0.05),
        0 0px 80px rgba(0, 0, 0, 0.07)
      ;
      transition: 150ms;
    }
    
    .project:hover {
      box-shadow: none;
      transition: 150ms;
    }
    
    img {
      cursor: pointer;
    }
    
/*     #new {
      float: right;
      margin-right: 20px;
      margin-top: 70px;
      background-color: #1f2430;
      border: none;
      color: yellow;
      padding-top: 10px;
      padding-left: 20px;
      padding-bottom: 10px;
      padding-right: 20px;
      cursor: pointer;
    } */
    
    a {
      text-decoration: none;
      color: white;
    }
    
    .new {
      background-color: white;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
      color: black !important;
      border: 1px solid black;
      border-radius: 5px;
      transition: 1s ease;
      cursor: pointer;
      font-family: "IBM Plex Mono", monospace;
      float: right;
      margin-top: 0px;
      margin-right: 15px;
      font-size: 15px;
    }
    
    .new a {
      color: black !important;
    }

    .new:hover {
      background-color: yellow;
      color: black;
      transition: 200ms linear;
    }
    
    .pace {
      -webkit-pointer-events: none;
      pointer-events: none;

      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .pace-inactive {
      display: none;
    }

    .pace .pace-progress {
      background: #fffe00;
      position: fixed;
      z-index: 2000;
      top: 0;
      right: 100%;
      width: 100%;
      height: 2px;
    }

    
  </style>
  <script>
    function remove(project) {
      fetch("/delete/" + project)
      .then(res => res.json())
      .then(data => {
        window.location.reload()
        console.log(data);
      })
    }  
  </script>
</head>
<body>  
  <header>
    <a href="/"><img src="https://cdn.glitch.com/a1686874-cbbf-4ca9-b412-cd53a73b9ceb%2Fglitchypastepen.png?v=1587918769653" height="100px"></a>
    <button class="new">
      <a href="/logout">Logout</a>
    </button>
    <a href="/editor/new">
      <button class="new">
        New Project
      </button>
    </a>
  </header>
  <br><br>
  <center>
    <img src="<%= github.avatar_url %>" style="border-radius:50%;width:300px;">
    <h1>
      <%= username %>
    </h1>
    <p style="font-family: 'IBM Plex Mono', monospace;">
      <span><%= github.name %></span><br>
      <span><%= github.email %></span><br><br>
      <span>
        <% if (github.twitter_username !== null) { %>
          <b>Twitter</b> - @<%= github.twitter_username %>
        <% } %>
      </span>
      
    </p>
  </center>
  <div id = "main">
    <i>YOUR PROJECTS</i><br /><br />
    <% if ((!projects) || (projects === [])) { %>
      <span>It's if</span>
      <img src="https://cdn.glitch.com/622554c6-3118-4838-8819-e003b9525f5d%2Fundraw_empty_xct9.svg?v=1599306004713" width="100%" />
    <% } else { %>
      <% for (var project of projects) { %>
        <span>It's else</span>
        <div class = "project">
          <%= project.key %> &nbsp;&nbsp;
          <br />
          <a href="/p/<%= project.key %>"><img style="float:right;margin-right:10px;" src="https://cdn.glitch.com/622554c6-3118-4838-8819-e003b9525f5d%2Fexternal.svg?v=1589450399039" height="30px;"></a>
          <a href="/editor/<%= project.key %>"><img style="float:right;margin-right:15px;" src="https://cdn.glitch.com/622554c6-3118-4838-8819-e003b9525f5d%2Fedit.svg?v=1589450679556" height="30px"></a>
          <br /><br />
        </div>
      <% } %>
    <% } %>
  </div>
  <br /><br />
  <script src="https://togetherjs.com/togetherjs-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
</body>